<div class="jumbotron header">
  <h1>Vincent Park</h1>
  <nav>
    <a class="button about" href="#">About</a>
    <a class="button projects" href="#">Projects</a>
    <a class="button contact" href="#">Contact</a>
  </nav>
</div>

<div class='main-page container'>
  
  <!-- About Me -->
  <div class='about-me row'>
    <div class="span4">
      <img class="avatar" src="https://1.gravatar.com/avatar/ee569db06b0aaf19cd56d2076de780ba?d=https%3A%2F%2Fidenticons.github.com%2F28c6f010fb155c3a2c19937e3124e70d.png&amp;r=x&amp;s=440">
      <div class='avatar-detail'>
        <p>Vincent Park</p>
        <p>Software Engineer</p>
        <p>San Francisco, CA</p>
      </div>
    </div>
    <div class="span8">
      <h1>About Me</h1>
      <p class='intro'><i class="fa fa-quote-left fa-2x"></i> Hi, I'm Vincent. I live in San Francisco. I'm a Rails / JavaScript developer with a passion for learning and self-improvement.</p>
    </div>
  </div>
  
  <div class='about-me-desc row'>
    <div class="span4">
      <span class="imgframe">
        <i class="fa fa-pencil-square-o fa-5x"></i>
      </span>
      <p>I'm an east coast transplant. I graduated from the University of Pennsylvania this May with a B.A. in Philosophy, Politics and Economics.</p>
    </div>
    <div class="span4">
      <span class="imgframe">
        <i class="fa fa-code fa-5x"></i>
      </span>
      <p>I'm a self-taught programmer. I have experience creating projects using Ruby, Rails, JavaScript, JQuery, Backbone.js, HTML, and CSS.</p>
    </div>
    <div class="span4">
      <span class="imgframe">
        <i class="fa fa-star-half-o fa-5x"></i>
      </span>
      <p>Spontaneity is awesome. I love late-night car/bus/train rides to new places or an evening out without an itinerary. I also enjoy cooking, working out, and playing poker with friends.</p>
    </div>
  </div>
  
  <!-- Projects -->
  <div class='row'>
    <!-- <div class='span12'> -->
      <h1>Projects</h1>
      <!-- </div> -->
    </div>

    <div class='row'>
    
    </div>

