<div class="jumbotron header">
  <h1>Vincent Park</h1>
  <p>
    About - Projects - Contact
  </p>
</div>

<div class='container'>
  <div class='row'>
    <h1>About Me</h1>
    <div class="about-me span4">
      <img class="avatar" src="https://1.gravatar.com/avatar/ee569db06b0aaf19cd56d2076de780ba?d=https%3A%2F%2Fidenticons.github.com%2F28c6f010fb155c3a2c19937e3124e70d.png&amp;r=x&amp;s=440">
      <div class='avatar-detail'>
        <p>Vincent Park</p>
        <p>Software Engineer</p>
        <p>San Francisco, CA</p>
      </div>
    </div>
    <div class="span8">
      <p>Hi, I'm Vincent. I live in San Francisco. I'm a Rails / JavaScript developer with a passion for self-improvement and self-learning.</p>
    </div>
  </div>
  <hr>
  <div class='row'>
    <h1>Projects</h1>
  </div>

<hr>
</div>

