<div class="jumbotron header">
  <h1>Vincent Park</h1>
  <nav>
    <a class="about" href="#">About</a>
    <a class="projects" href="#">Projects</a>
    <a class="contact" href="#">Contact</a>
  </nav>
</div>

<div class='main-page container'>
  
  <!-- About Me -->
  <div class='about-me row'>
    <h1>About Me</h1>
    <div class="about-me span4">
      <img class="avatar" src="https://1.gravatar.com/avatar/ee569db06b0aaf19cd56d2076de780ba?d=https%3A%2F%2Fidenticons.github.com%2F28c6f010fb155c3a2c19937e3124e70d.png&amp;r=x&amp;s=440">
      <div class='avatar-detail'>
        <p>Vincent Park</p>
        <p>Software Engineer</p>
        <p>San Francisco, CA</p>
      </div>
    </div>
    <div class="span8">
      <p><i class="fa fa-quote-left fa-3x"></i> Hi, I'm Vincent. I live in San Francisco. I'm a Rails / JavaScript developer with a passion for learning and self-improvement.</p>
    </div>
  </div>
  
  <div class='about-me-desc row'>
            <div class="span4">
              <span class="imgframe">
                <img style="" src="http://www.wrike.com/imgs/home/Full-featured_project_management_software_Wrike.png">
              </span>
              <h2>Jot down Ideas</h2>
              <p>No need for a notebook and a pencil. Simply sign in. Anywhere, anytime.</p>
            </div>
            <div class="span4">
            <span class="imgframe">
                <img style="" src="http://www.wrike.com/imgs/home/All_project_data_in_one_place_Wrike.png">
            </span>
              <h2>Chores for the Family</h2>
              <p>Why are you the only one stuck doing the dishes? Tell your loved one to take out the trash. And the recycling.</p>
            </div>
            <div class="span4">
            <span class="imgframe">
                <img style="" src="http://www.wrike.com/imgs/home/Email-integrated_project_management_software_Wrike.png">
            </span>
              <h2>Collaborate Now</h2>
              <p>Are you a team player? Um.brello brings the "team" to a player with its board-sharing feature for friends or colleagues.</p>
            </div>
  </div>
  
  <!-- Projects -->
  <div class='row'>
    <!-- <div class='span12'> -->
      <h1>Projects</h1>
    <!-- </div> -->
  </div>

  <div class='row'>
    
</div>

