// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #EEEEEE;
  color: #FFFFFF;
  font-family: "Lato";
}

//hr {
//  height: 1.5px;
//  background-color: rgb(228, 228, 228);
//  margin: 20px 0;
//}
//
//hr .short{
//  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
//  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
//  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
//  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
//  border: 0;
//  height: 3px;
//  margin: 20px 0;
//}

hr {
  margin: 0 10%;
  text-align: center;
}

.links {
    display: block; 
    content: " "; 
    margin-top: -200px; 
    height: 200px; 
    visibility: hidden; 
}

.container {
  padding: 0;
  margin: 0;
  width: 100%;
}

.main-page {
  padding-top: 150px;
  font-size: 18px;
}

.header {
//  background: url('http://i.imgur.com/5Gm2C8y.png');
  background-color: #FFFFFF;
  opacity: .9;
  height: 150px;
  position: fixed;
  width: 100%;
  text-align: center;
  color: #635F5F;
  font-family: helvetica;
  border-bottom: 1px solid #e5e5e5;
  z-index: 1;
}

.header h1 {
  font-weight: 100;
  font-size: 50px;
  height: 90px;
  line-height: 100px;
  margin: 0;
  color: #5E5656;
}

.header h1:hover {
 color: #383838;
}

.header a {
  text-decoration: none !important;
  color: #414141;
}

nav .button {
  background-color: #FFFFFF !important;
  text-decoration: none;
//  cursor: pointer;
  display: inline-block;
  font-family: "Lato";
  font-size: 30px;
  font-weight: normal;
  height: 40px;
  margin: 0 3px;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

nav .button:hover {
  background-color: aliceblue !important;
}

.row {
  margin: 0;
  padding: 25px 10% 25px 10%;
}

.about-me {
  font-size: 28px;
  background-color: #5dade2;
}

.about-me .span8 {
  padding: 0;
  margin: 0;
  width: 66%;
}

.about-me .span8 h1 {
  text-align: left;
//  padding-top: 25px;
  padding-left: 15%;
//  padding-bottom: 20px;
  font-size: 45px;
}

.about-me .span8 .intro {
  font-size: 37px;
  line-height: 45px;
  padding-top: 25px;
}

.about-me .span8 .title {
  font-weight: bolder;
  font-size: larger;
}

.about-me .span4 {
  padding: 0 0 0 0;
  margin: 0;
  width: 33%;
  text-align: center;
}

.about-me .span4 .avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.about-me .span4 .avatar-detail {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
}

.about-me-desc {
  text-align: center;
  background-color: #3498DB;
  color: white;
  padding-bottom: 50px;
}

.about-me-desc .span4 {
  width: 28.3%;
  padding: 10px 2.5% 0 2.5%;
  margin: 0;

}

.about-me-desc .span4 p {
  font-size: 20px;
  line-height: 35px;
  text-align: left;
}

.projects-container {
  width: 80%;
  padding: 0 10% 35px 10%;
  margin-top: 1px;
  background-color: #5dade2;
  background: url(http://i.imgur.com/vJkz4LA.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.projects {
  text-align: center;
  background-color: #FFFFFF;
  color: #3498DB;
  opacity: 0.9;
  margin: -30px 0 0 0;
  border-radius: 15px;
  padding: 25px 0 25px 0;
}

.projects h1 {
  font-size: 45px;
}

.project-row {
  padding-left: 5%;
  padding-right: 5%;
}

.project-row .span4 {
  padding: 25px 0 0 0;
  margin: 0;
  width: 33%;
}

.project-row .span4 .image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.project-row .span8 {
  padding: 0 0 0 0;
  margin: 0;
  width: 66%;
  text-align: left;
  font-size: 32px;
  line-height: 50px;
}

.project-row .span8 .title {
  font-size: 35px;
  text-align: center;
}

.project-row .span8 li {
  line-height: 30px;
  font-size: 25px;
}

.project-row .span8 p {
  line-height: 50px;
  font-size: 30px;
}

.after {
  text-align: center;
  padding-top: 0;
  background-color: #3498DB;
}

.downtri {
  padding-top: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #5dade2;
}

.contact-me {
  background-color: #3498DB;
  margin-top: 1px;
  padding-bottom: 100px;
}

.contact-me h1 {
  text-align: center;
  font-size: 45px;
}

.contact-me p {
  text-align: left;
  font-size: 35px;
  line-height: 48px;
  padding-top: 10px;
}

.contact-me p a {
  font-family: monospace;
  cursor: pointer;
  color: #FFFFFF;
}

.contact-me p a:hover {
  text-decoration: inherit;
  color: #96D5FF;
}

.contact-me .span3 {
  text-align: center;
  padding: 20px 0 0 0;
  margin: 0;
  width: 25%;
}

.contact-me .span3 a {
  text-align: center;
  color: #FFFFFF;
  font-size: 40px;
}

.contact-me .span3 a:hover {
  text-decoration: inherit;
  cursor: pointer;
  color: #96D5FF;
}


.contact-me .span3 i {
  padding-bottom: 15px;
}




