// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #EEEEEE;
  color: #FFFFFF;
  font-family: "Lato";
}

.header h1 {
  color: #5E5656;
}

hr {
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
  height: 3px;
  margin: 70px 0;
}

.container {
  padding: 0;
  margin: 0;
  width: 100%;
}

.main-page {
  padding-top: 150px;
  font-size: 18px;
}

.header {
//  background: url('http://i.imgur.com/5Gm2C8y.png');
  background-color: #fdfdfd;
  height: 150px;
  position: fixed;
  width: 100%;
  text-align: center;
  color: #635F5F;
  font-family: helvetica;
  border-bottom: 1px solid #e5e5e5;
}

.header h1 {
  font-weight: 100;
  font-size: 50px;
  height: 90px;
  line-height: 100px;
  margin: 0;
}

nav .button {
  background-color: #DAFFFF !important;
  text-decoration: none;
//  cursor: pointer;
  display: inline-block;
  font-family: "Lato";
  font-size: 30px;
  font-weight: normal;
  height: 40px;
  margin: 0 3px;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.about-me .span8 h1 {
  text-align: left;
//  padding-top: 25px;
  padding-left: 15%;
//  padding-bottom: 20px;
  font-size: 45px;
}

.about-me {
  font-size: 28px;
  background-color: #5dade2;
  padding: 25px 10% 25px 10%;
}

.about-me .span8 .intro {
  font-size: 40px;
  line-height: 65px;
  padding-top: 25px;
}

.about-me .span4 {
  padding: 0 0 0 0;
  margin: 0;
  width: 33%;
  text-align: center;
}

.about-me .span8 {
  padding: 0;
  margin: 0;
  width: 66%;

}

.about-me .span4 .avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.about-me .span4 .avatar-detail {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
}

.about-me-desc {
  text-align: center;
  margin: 0;
  padding: 25px 10% 25px 10%;
  background-color: #3498DB;
  color: white;
}

.about-me-desc .span4 {
  width: 28.3%;
  padding: 10px 2.5% 0 2.5%;
  margin: 0;

}

.about-me-desc .span4 p {
  font-size: 20px;
  line-height: 35px;
  text-align: left;
}
