<!DOCTYPE html>
<html>
<head>
  <title>Vincent Park - Software Developer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script>
      window.jQuery || document.write('<script src="<?php echo SITE_JS;?>/jquery-1.9.1.min.js"><\/script>');
   // you should have jquery-1.9.1.min.js on the site url
  </script>
  
</head>
<body>

<%= yield %>

</body>
</html>
